<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL Slow Query Explain Tool</title>
    <link rel="stylesheet" href="/static/css/explain.css">
</head>
<body>
    <h1 id="heading">MySQL Slow Query Explain Tool</h1>
    <main id="content">
        <section class="form">
            <h2>Execute SQL plan & Document Download</h2>
            <p>SQL Query의 실행 계획을 저장할 수 있으며, Markdown 형식으로 내려 받을 수 있습니다. SELECT 쿼리만 실행 계획을 저장할 수 있습니다!</p>
            <form id="sqlForm">
                <div class="field">
                    <label for="pid">Enter PID:</label>
                    <input type="text" id="pid" name="pid" inputmode="numeric" pattern="\d*">
                </div>
                <div class="btn-container">
                    <button type="button" id="saveExplain">
                        <span class="circle1"></span>
                        <span class="circle2"></span>
                        <span class="circle3"></span>
                        <span class="circle4"></span>
                        <span class="circle5"></span>
                        <span class="text">Save SQLPlan</span>
                    </button>
                    <button type="button" id="downloadLog">
                        <span class="circle1"></span>
                        <span class="circle2"></span>
                        <span class="circle3"></span>
                        <span class="circle4"></span>
                        <span class="circle5"></span>
                        <span class="text">Download</span>
                    </button>
                </div>
            </form>
        </section>
    </main>
    <script>
        function getQueryParam(param) {
            const searchParams = new URLSearchParams(window.location.search);
            return searchParams.get(param);
        }

        const defaultPid = getQueryParam('pid');
        if (defaultPid) {
            document.getElementById('pid').value = defaultPid;
        }

        document.getElementById('saveExplain').addEventListener('click', function(event) {
            const pid = document.getElementById('pid').value;
            const apiUrl = `/api/v1/query_tool/explain`;

            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ pid: parseInt(pid) })
            })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                return response.json();
            })
            .then(data => {
                alert('Explain executed and saved: ' + data.message);
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                alert('Error: ' + error.message);
            });
        });

        document.getElementById('downloadLog').addEventListener('click', function(event) {
            const pid = document.getElementById('pid').value;
            const apiUrl = `/api/v1/query_tool/download?pid=${pid}`;

            fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.status} ${response.statusText}`);
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = `slowlog_pid_${pid}.md`;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => {
                    console.error('Download failed:', error);
                    alert(error.message);
                });
        });

        const pageInfo = {
            author: "Tei / t'order",
            copyrightYear: "2024"
        };
        document.getElementById("author").textContent = pageInfo.author;
        document.getElementById("copyright-year").textContent = pageInfo.copyrightYear;
    </script>
    <footer>
        <p>Designed by <span id="author"> DBRE Tei, Team DevOps, t'order </span> © <span id="copyright-year">2024</span></p>
    </footer>
</body>
</html>